/* Default colors*/
:root {
  --bg:#0f1217;
  --fg:#e8eef7;
  --card:#161b22;
  --accent:#4cc9f0;
  --border:#222; 
  }

/* All elements; including padding and border into sizing calculations of elements */
* {
  box-sizing:border-box;
  }

body {
  margin:0;
  background:var(--bg);
  color:var(--fg);
  font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Arial,sans-serif
  }

/* Section with content below menu */
main {
  padding:16px 18px;
  }

header {
  padding:12px 18px;
  border-bottom:1px solid var(--border);
  }

/* Logo and text header */
.lm-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  }

/* Application name */
.lm-appname {
  margin:0;
  font-size:20px
  }

/* Navigation buttons top right */
.icon {
  border-radius:8px;
  padding:4px;
  width: 3rem;
  height: 3rem; 
  }
.icon.active {
  bg 
  }
.icon.inactive {
  background-color: #78716c;
  bg hover
  }
.icon.inactive:hover {
  background-color: #d6d3d1;
  cursor: pointer;
  border-color:var(--accent);
  }

/* Menu bar */
.lm-menu {
  display: flex;
  flex-direction: column;
  padding: 12px 0px 12px 24px; /* Top Right Bottom Left */
  gap: 0.5rem;
  border-bottom:1px solid var(--border);
  align-items: center;
  }

button,select,input{
  background:#111;
  color:var(--fg);
  border:1px solid #333;
  padding:6px 10px;
  border-radius:6px;
  line-height: 1.2em;
  font-size: 1rem;
  /*height: 36px;*/
}
button,sel
button:hover{
  border-color:var(--accent);
  }

/* Placeholder for cards */
.grid {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(480px,1fr));
  gap:16px /* Width of the graph */
  }

/* Placeholder for charts */
.card {
  background:var(--card);
  padding:12px;
  border:1px solid var(--border);
  border-radius:8px
  }

/* Height of the graph */
canvas {
  width:100%;
  height:280px;
  }

.lm-columns {
  columns: 300px 3;
  column-gap: 15px;
  }

.lm-section {
  display: inline-block;
  border-radius:8px;
  border:1px solid #222;
  width: 100%;
  background: var(--card);
  background-color: var(--card);
  margin: 5px 0;
}

.lm-section-title {
  float: left;
  font-family: Tahoma, Helvetica;
  font-size: 21px;
  width: 150px;
  margin: 5px;
  gap: 10px;
  align-items: center;
  display: flex;
}

.lm-section-title img {
  width: 42px;
  height: 42px;
  object-fit: contain;
  }

.lm-section-text {
  float: left;
  /*background-color: #457823;*/
  padding: 10px;
  }

.lm-gauges {
  display: flex;
  }

.lm-gauge {
  width: 100px;
  height: 100px;
  }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.8;
  margin-bottom: 0px;
  }

.badge {
 margin-right: 10px
 }

.progress {
  width: 250px;
  }

@media (min-width: 640px) {
  .lm-header {
    flex-direction: row;
    align-items: center;
  }
  .lm-menu {
   flex-direction: row;
  }
}

.lm-page-button {
  position: absolute;
  right: 1.5rem; 
  top: 1.5rem;  
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
